<html>
<head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Router: {{ router_ip }}</h1>
    <div id="table-container"> 
        <h3>Route Table</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Protocal</th>
                    <th>Network</th>
                    <th>Distance</th>
                    <th>Nexthop Ip</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in routing %}
                    {% for info in doc.route %}
                    <tr>
                        <td>{{ info.protocol }}</td>
                        <td>{{ info.network }}/{{ info.prefix_length }}</td>
                        <td>{{ info.distance }}</td>
                        <td>{{ info.nexthop_ip }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <h3>Interface Status</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Interface</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Protocol</th>
                </tr>
            </thead>
            <tbody>
                {% for docs in interface_data %}
                    {% for intf in docs.interfaces %}
                    <tr>
                        <td>{{ docs.timestamp }}</td>
                        <td>{{ intf.interface }}</td>
                        <td>{{ intf.ip_address }}</td>
                        <td>{{ intf.status }}</td>
                        <td>{{ intf.proto }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </div> <script>
        async function refreshTable() {
            try {
                const response = await fetch(window.location.href); 
                const htmlText = await response.text();
                const parser = new DOMParser();
                const newDoc = parser.parseFromString(htmlText, 'text/html');
                const newTableContainer = newDoc.getElementById('table-container');
                if (newTableContainer) {
                    document.getElementById('table-container').innerHTML = newTableContainer.innerHTML;
                }

            } catch (error) {
                console.error('Failed to refresh table:', error);
            }
        }
        setInterval(refreshTable, 5000); 
    </script>
</body>
</html>